<nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
  <a class="navbar-brand" routerLink="add">Restaurant App </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="add">Add Restaurant</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="list">All Restaurnat</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="update">Update</a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="register">Register</a>
      </li> -->
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
