<div class="container">
  <table class="table" *ngIf="!showEdit">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rest of collection">
        <td>{{rest.id}}</td>
        <td>{{rest.name}}</td>
        <td>{{rest.address}}</td>
        <td>{{rest.email}}</td>
        <td>
          <i class="fa fa-edit" style="font-size:30px;color: blueviolet;cursor: pointer;" (click)="edit(rest)"></i> &nbsp;
          <i class="fa fa-trash" style="font-size:30px;color: red;cursor: pointer;" (click)="delete(rest)"></i>
        </td>
      </tr>
    </tbody>
  </table>
  <app-update *ngIf="showEdit"></app-update>
</div>
